#a {
	font-family:  "arial";

}
table { 
	        border-width: 20px;
			table-layout: 20px;
			line-height: 20px;
			border-color: "black";
			
		}
#a1{ 
			font-size: 20px;
			background-color: "lightblue";
			
		}